NEXT_PUBLIC_UPLOAD_API=https://bj0iusoe6a.execute-api.ap-southeast-1.amazonaws.com/prod/upload
NEXT_PUBLIC_RESULTS_API=https://axxsy44fvk.execute-api.ap-southeast-1.amazonaws.com/prod/results
# Optional: when admin analytics endpoints are wired up
# NEXT_PUBLIC_ANALYTICS_API=https://<id>.execute-api.ap-southeast-1.amazonaws.com/prod
